body{
    font-family: sans-serif;
    margin-left: 30px;
}
.nav{
    position: sticky;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    top: 100px;
    overflow: hidden;
    background-color: #ddd;
    top: 0px;
    z-index: 1;
    
}
html{
    scroll-behavior: smooth;
}
.ten1{
    color: black;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    align-items: center;
    margin-right: auto;
    transition: all 0.1s linear;
    margin-left: 16px;
}
.ten{
    color: black;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    letter-spacing: 1px;
}



.ten1:hover{
    background-color: #ccc;
    border-radius: 10px;
    transition: all 0.1s linear;
    transform: scale(1.1);
    text-decoration: underline;
    letter-spacing: 1px;
}
.ten:hover{
    background-color: #ccc;
    border-radius: 10px;
    transition: all 0.1s linear;
    transform: scale(1.1);
    text-decoration: underline;

}
.ten1:active{
    color: blue;
    transition: all 0.1s linear;
    transform: scale(1.17);
}
.ten:active{
    color: blue;
    transition: all 0.1s linear;
    transform: scale(1.17);
}
h3{
    font-size: 30px;
}


.o{
    display: flex;
    justify-content: flex-end;
}


.u{
    background-image: url(imgs/1.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-left: 0px;
}
.u h2{
    
    color: white;
    margin-left: 550px;
    margin-top: 250px;
    position: absolute;
    top: 100px;
    font-size: xx-large;
}
.u h2 span{
    background-color: black;
    padding: 7px;
    opacity: 0.7;
}


.none{
    background-color: #000;
    color: white;
    position: absolute;
    margin-top: 0px;
    padding: 7px;
    font-size: larger;
}
.img{
    background-image: url(imgs/house5\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    width: 23%;
    position: relative;
    display: inline-block;
}
.cards{
    display: flex;
    gap: 10px;
}
.card{
    border-radius: 10px;
    padding: 10px;
}
.cards .card img{
    font-size: 25px;
}
.im{
    width: 300px;
}
.btn{
    background-color: #ddd;
    width: 280px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    transition: all 0.1s linear;
    color: #000;
    font-size: large;
    border-style: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #ccc;
    transform: scale(1.1);
    
}
.btn:active{
    color: blue;
    transition: all 0.1s linear;
    transform: scale(1.16);
}

.five{
    font-size: x-large;
    font-family: sans-serif;
    
}
.two{
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
}
.two:active{
    color: blue;
}
hr{
    opacity: 0.3;
}
.three{
    width: 95%;
    padding: 10px;
    border-style: solid;
    border-color: #ccc;
    color: #525252;
    font-size: medium;
    transition: all 0.1s linear;
}
.three:active:hover{
    transition: all 0.03s linear;
    transform: scale(1.03);
}
.three:hover{
    transform: scale(1.01);
}
.three:focus{
    outline: none;
    border-color: darkslategrey;
}
.four{
    border: none;
    width: 150px;
    background-color: #000;
    color: #fff;
    padding: 12px;
    font-size: medium;
    cursor: pointer;
    transition: all 0.2s linear;
}
.four:hover{
    background-color: #b9b9b9;
    color: #000;
    transform: scale(1.08);
}
.four:active{
    color: blue;
    transition: all 0.1s linear;
    transform: scale(1.16);
}
.six{
    background-color: #000;
    color: white;
    width: 100%;
    height: 150px;
    position: relative;
}
.eight{
    text-align: center;
    top: 50px;
    left: 550px;
    position: absolute;
    color: #fff;
}
.seven{
    color: #fff;
    font-family: sans-serif;
    background-color: #000;
    border-style: none;
    font-size: large;
    text-decoration: underline;
    cursor: pointer;
}
.seven:hover{
    color: rgb(29, 136, 29);
}
.seven:active{
    color: aqua;
}
.nine{
    width: 100%;
    height: 700px
}
.img1{
    background-image: url(imgs/house2\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    width: 23%;
    position: relative;
    display: inline-block;
}
.img2{
    background-image: url(imgs/house3\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    width: 23%;
    position: relative;
    display: inline-block;
}
.img3{
    background-image: url(imgs/house4\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    width: 23%;
    position: relative;
    display: inline-block;
}
.img4{
    background-image: url(imgs/house2\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    width: 23%;
    position: relative;
    display: inline-block;
}
.img5{
    background-image: url(imgs/house5\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    width: 23%;
    position: relative;
    display: inline-block;
}
.img6{
    background-image: url(imgs/house4\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    width: 23%;
    position: relative;
    display: inline-block;
}
.img7{
    background-image: url(imgs/house3\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    width: 23%;
    position: relative;
    display: inline-block;
}
.bre{
    width: auto;
    
}